@import '../../app.component.scss';

.calendar-wrapper {
  padding: $page-padding;
}

::ng-deep .cal-month-view .cal-open-day-events {
  background-color: rgba(255, 223, 229, 0.185);
  box-shadow: inset 0 0 15px 0 rgba(194, 1, 253, 0.062);
  color: black;
}

// bagde z iloscia eventow danego dnia
::ng-deep .cal-month-view .cal-day-badge {
  background-color: pink;
  color: black;
}

::ng-deep .cal-month-view .cal-day-cell.cal-today {
  background-color: rgba(255, 87, 115, 0.082);
}

.custom-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  .header-title {
    text-align: center;
    font-weight: 700;
    font-size: 17px;
  }
}
.calendars-wrapper {
  display: flex;
  gap: 16px;
  align-items: flex-start;

  .mini-calendar {
    flex: 1;
    max-width: 300px;
  }

  .big-calendar {
    flex: 2;
  }
}
