<div class="calendar-wrapper">
  <nz-collapse [nzBordered]="false">
    <nz-collapse-panel nzHeader="Kroki">
      <p>{{ "ng add @ng-bootstrap/ng-bootstrap"}}</p>
      <p>npm i angular-calendar</p>
      <p>npm i calendar-utils</p>
      <p>npm install date-fns --save</p>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="ważne">
      <p>{{ 'app-config > importProvidersFrom(CalendarModule.forRoot({provide: DateAdapter, useFactory: adapterFactory}))' }}</p>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="doksy">
      <p><a href="https://mattlewis-github.com/angular-calendar/#/kitchen-sink" target="_blank">DEMO + KOD</a></p>
      <p><a href="https://github.com/mattlewis92/angular-calendar#readme" target="_blank">GIT</a></p>
      <p><a href="https://mattlewis-github.com/angular-calendar/docs/index.html#getting-started" target="_blank">DOKS</a></p>
      <p><a href="https://www.npmjs.com/package/angular-calendar-scheduler?activeTab=readme" target="_blank">scheduler mozliwy do dodania</a></p>
    </nz-collapse-panel>
  </nz-collapse>

  <div class="calendar mt-4">

    <!-- przyciski organizujące kalendarz -->
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            Previous
          </div>
          <div
            class="btn btn-outline-secondary"
            mwlCalendarToday
            [(viewDate)]="viewDate"
          >
            Today
          </div>
          <div
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            Next
          </div>
          <div
            class="btn btn-secondary"
            mwlCalendarNextView
            (click)="addEvent()"
          >
            DODAJ EVENT
          </div>
        </div>
      </div>

      <!-- aktualny miesiąc, do spolszczenia -->
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle') }}</h3>
      </div>

      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month"
          >
            Month
          </div>
          <div
            class="btn btn-primary"
            (click)="setView(CalendarView.Week)"
            [class.active]="view === CalendarView.Week"
          >
            Week
          </div>
          <div
            class="btn btn-primary"
            (click)="setView(CalendarView.Day)"
            [class.active]="view === CalendarView.Day"
          >
            Day
          </div>
        </div>
      </div>
    </div>
    <br />

    <!-- 3 widoki kalendarza od miesiąc > tydzien > dzien -->
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        [headerTemplate]="headerTemp"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-day-view>
    </div>
  </div>
</div>

<!-- temp do month -->
<ng-template #headerTemp>
  <div class="custom-header">
    <div class="header-title">Niedziela</div>
    <div class="header-title">Poniedziałek</div>
    <div class="header-title">Wtorek</div>
    <div class="header-title">Środa</div>
    <div class="header-title">Czwartek</div>
    <div class="header-title">Piątek</div>
    <div class="header-title">Sobota</div>
  </div>
</ng-template>

<!-- bootstrapowy modal do wyswietlania -->
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Event:
      <pre>{{ modalData.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
